<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>Inder</title>

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'inder_site/style.css' %}">
    </head>

    <body>
        <!-- Nav -->
        <nav class="navbar is-info" role="navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Inder</strong></a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <!-- request.user.is_authenticated  -->
                    {% if false %}
                        <!-- <a href="{% url 'notifications' %}" class="navbar-item">Notifications ({{ notifications.count }})</a>
                        <a href="{% url 'feed' %}" class="navbar-item">Feed</a>
                        <a href="{% url 'conversations' %}" class="navbar-item">Conversations</a>
                        <a href="{% url 'oinkerprofile' request.user.username %}" class="navbar-item">Profile</a>
                        <a href="{% url 'edit_profile' %}" class="navbar-item">Edit profile</a> -->
                    {% endif %}

                    <div class="navbar-item">
                        <div class="buttons">
                            {% if request.user.is_authenticated %}
                                <a href="/logout/" class="button is-danger">Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Nav -->

        <!-- Content -->
        <section class="section">
            {% block content %}
            {% endblock %}
        </section>
        <!-- End Content -->
    </body>
</html>