<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>Inder</title>

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
    </head>

    <body>
        <!-- Content -->
        <section class="section">
            {% block content %}
                <div class="container">
                    <div class="columns">
                        <div class="column is-12">
                            <h1 class="title">Welcome to Inder</h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="columns">
                        <div class="column is-12">
                            <h3 class="subtitle">Use the buttons below to enter the registration/login portal</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="columns">
                        <div class="buttons">
                            <NonAmpContent>
                                <a class="button is-primary" href="/login/auth0">Authentication Portal</a>
                            </NonAmpContent>
                        </div>
                    </div>
                </div>
                <section class="landing-section landing-main">
                    <div class="landing-section-content">
                        <h1 class="brand">Inder</h1>
                        <h2>Tinder, for Ideas</h2>
                        <p class="landing-main-text">
                            Click the link below to login or register for access
                        </p>
                    </div>
                </section>
                <section class="landing-section landing-features">
                    <section class="landing-feature auth-portal">
                        <div class="buttons">
                            <NonAmpContent>
                                <a class="button is-primary" href="/login/auth0">Authentication Portal</a>
                            </NonAmpContent>
                        </div>
                    </section>
                </section>
            {% endblock %}
        </section>
        <!-- End Content -->
    </body>
</html>